@import url(https://fonts.googleapis.com/css?family=Open+Sans);
*, *:before, *:after {
    margin: 0;
    padding: 0;

}

html, body {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
    height:100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}


canvas {
  display: block;
}

a{
    text-decoration: none;
    color:chartreuse;
}

button{
    text-decoration: none;
    color:chartreuse;
}
/*----------DROP DOWN-------*/

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  bottom: 50px;
  z-index: 1;
}

.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropup-content a:hover {background-color: #ccc}

.dropup:hover .dropup-content {
  display: block;
}

.dropup:hover .dropbtn {
  background-color: #2980B9;
}


/*----------NAVIGATION-------*/

.nav{
    height:3vh;
    width: 100%;
    padding-top: 5px;
    background-image: url(floor.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x:hidden;
    font-family:'ParaboleTrial-Regular';
    font-size:1vw;
    box-shadow: inset 0px -3px 10px 0px black;
    display: grid;

}

.left{
    grid-column: 1;
    text-align: right;
    padding-right:50px;
}

.rooms{
    grid-column: 2;
    text-align: center;
    padding-right:20px;

}


.right{
    text-align: left;
    grid-column: 3;
    padding-left:50px;
}



#rcorners1 {
  border-radius: 25px;
  background: #000;
  padding: 5px; 
}

#rcorners2 {
  border-radius: 25px;
  background: #000;
  padding: 5px; 
}

#rcorners3 {
  border-radius: 25px;
  background: #000;
  padding: 5px; 
}

#rcorners4 {
  border-radius: 25px;
  background: #000;
  padding: 5px; 
}

#rcorners5 {
  border-radius: 25px;
  background: #000;
  padding: 5px; 
}
/*----------Perspective One-------*/

.front-one, .back-one {
  position: relative;
  width: 100vw;
  height: 97vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
     transform: translateZ(calc(var(--cameraZ) * 1px));
}
.front-one:before, .front-one:after, .back-one:before, .back-one:after {
  content: '';
  position: absolute;
  background-blend-mode: multiply;
}

.front-one {
  z-index: 2;
  -webkit-perspective: 1100px;
          perspective: 1100px;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
  -webkit-transition: -webkit-perspective-origin 0.6s;
  transition: -webkit-perspective-origin 0.6s;
  transition: perspective-origin 0.6s;
  transition: perspective-origin 0.6s, -webkit-perspective-origin 0.6s;
}
.front-one:before, .front-one:after {
  top: 0;
  right: 0;
  width: 100vw;
  height: 97vh;
  bottom: 0;
  background-color: black;
}

.front-one:before {
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
}
.front-one:after {
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
}

.back-one {
  z-index: 1;
  background-blend-mode: multiply;
  background-image: url("cloud%20edit.gif");
  background-size:cover;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
  -webkit-transform: translateZ(-100vw);
          transform: translateZ(-100vw);
}


.back-one:before, .back-one:after {
  right: 0;
  left: 0;
  height: 100vw;
}
.back-one:before {
  top: 0;
  background-color: black;
  background-size:cover;
  background-repeat: no-repeat;
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);  
}


.back-one:after {
  bottom: 0;
  background-image: url("floor.jpg");
  background-size:cover;
  background-repeat: no-repeat;
    box-shadow: inset 0px 0px 300px 0px black;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}




/*----------Perspective Two-------*/

.front-two, .back-two {
  position: relative;
  width: 100vw;
  height: 97vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
     transform: translateZ(calc(var(--cameraZ) * 1px));
}
.front-two:before, .front-two:after, .back-two:before, .back-two:after {
  content: '';
  position: absolute;
  background-blend-mode: multiply;
}

.front-two {
  z-index: 2;
  -webkit-perspective: 1100px;
          perspective: 1100px;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
  -webkit-transition: -webkit-perspective-origin 0.6s;
  transition: -webkit-perspective-origin 0.6s;
  transition: perspective-origin 0.6s;
  transition: perspective-origin 0.6s, -webkit-perspective-origin 0.6s;
}
.front-two:before, .front-two:after {
  top: 0;
  right: 0;
  width: 100vw;
  height: 97vh;
  bottom: 0;
}

.front-two:before {
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
      background-image: url("test1.gif");
      background-size:cover;
      background-repeat: no-repeat;
}
.front-two:after {
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
      background-image: url("test3.gif");
      background-size:cover;
      background-repeat: no-repeat;
}

.back-two {
  z-index: 1;
  background-blend-mode: multiply;
      background-image: url("test2.gif");
      background-size:cover;
      background-repeat: no-repeat;
  -webkit-transform: translateZ(-100vw);
          transform: translateZ(-100vw);
}


.back-two:before, .back-two:after {
  right: 0;
  left: 0;
  height: 100vw;
}
.back-two:before {
  top: 0;
  background-color: black;
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);  
}


.back-two:after {
  bottom: 0;
  background-image: url("floor.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  box-shadow: inset 0px 0px 300px 0px black;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}



/*----------Perspective Three-------*/

.front-three, .back-three {
  position: relative;
  width: 100vw;
  height: 97vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
     transform: translateZ(calc(var(--cameraZ) * 1px));
}
.front-three:before, .front-three:after, .back-three:before, .back-three:after {
  content: '';
  position: absolute;
  background-blend-mode: multiply;
}

.front-three {
  z-index: 2;
  -webkit-perspective: 1100px;
          perspective: 1100px;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
  -webkit-transition: -webkit-perspective-origin 0.6s;
  transition: -webkit-perspective-origin 0.6s;
  transition: perspective-origin 0.6s;
  transition: perspective-origin 0.6s, -webkit-perspective-origin 0.6s;
}
.front-three:before, .front-three:after {
  top: 0;
  right: 0;
  width: 100vw;
  height: 97vh;
  bottom: 0;
}

.front-three:before {
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
      background-image: url("bodies1.gif");
      background-size:cover;
      background-repeat: no-repeat;
}
.front-three:after {
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
      background-image: url("bodies1.gif");
      background-size:cover;
      background-repeat: no-repeat;
}

.back-three {
  z-index: 1;
  background-blend-mode: multiply;
  -webkit-transform: translateZ(-100vw);
          transform: translateZ(-100vw);
}


.back-three:before, .back-three:after {
  right: 0;
  left: 0;
  height: 100vw;
}
.back-three:before {
  top: 0;
  background-color: black;
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);  
}


.back-three:after {
  bottom: 0;
  background-image: url("floor.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  box-shadow: inset 0px 0px 300px 0px black;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}



/*----------Perspective Three-------*/

.front-four, .back-four {
  position: relative;
  width: 100vw;
  height: 97vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
     transform: translateZ(calc(var(--cameraZ) * 1px));
}
.front-four:before, .front-four:after, .back-four:before, .back-four:after {
  content: '';
  position: absolute;
  background-blend-mode: multiply;
}

.front-four {
  z-index: 2;
  -webkit-perspective: 1100px;
          perspective: 1100px;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
  -webkit-transition: -webkit-perspective-origin 0.6s;
  transition: -webkit-perspective-origin 0.6s;
  transition: perspective-origin 0.6s;
  transition: perspective-origin 0.6s, -webkit-perspective-origin 0.6s;
}
.front-four:before, .front-four:after {
  top: 0;
  right: 0;
  width: 100vw;
  height: 97vh;
  bottom: 0;
}

.front-four:before {
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
      background-image: url("look.gif");
      background-size:cover;
      background-repeat: no-repeat;
}
.front-four:after {
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
      background-image: url("look.gif");
      background-size:cover;
      background-repeat: no-repeat;
}

.back-four {
  z-index: 1;
  background-blend-mode: multiply;
  -webkit-transform: translateZ(-100vw);
          transform: translateZ(-100vw);
      background-image: url("window.gif");
      background-size:cover;
      background-repeat: no-repeat;
}


.back-four:before, .back-four:after {
  right: 0;
  left: 0;
  height: 100vw;
}
.back-four:before {
  top: 0;
  background-color: black;
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);  
}


.back-four:after {
  bottom: 0;
  background-image: url("floor.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  box-shadow: inset 0px 0px 300px 0px black;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}





a-scene {
  height: 90vh;
  width: 100vw;
    position: absolute;
}

/*--------------Webcam---------------*/

#container {
	margin: 0px auto;
	width: 100vw;
	height: 100vh;
}
#videoElement {
	width: 100vw;
	height: 100vh;
	background-color: #000;
}


/*--------------Style---------------*/

.figures {
  position: absolute;
  display: block;
  height: auto;
}


.title{
    color: black;
    font-size: 9vw;
    line-height: 9.5vw;
    font-family:'NeueMachina-Regular';
    position: absolute;
    text-align: center;
    width: 100vw;
    padding-top: 20vw;
}


.sub{
    color: black;
    font-size: 8vw;
    line-height: 8.5vw;
    font-family:'ParaboleTrial-Regular';
    position: absolute;
    text-align: center;
    width: 100vw;
    padding-top: 20vw;

}

center{
    top:0;
}
/*--------------objects---------------*/

.bag {
  left: 60%;
  bottom: 0;
  width: 50%;
  height: auto;
  z-index: 2;
  -webkit-transform: translateZ(-10vw);
          transform: translateZ(-10vw);
}




/*--------------global---------------*/


@font-face {
  font-family: 'ParaboleTrial-Regular';
  src: url('ParaboleTrial-Regular.eot') format('embedded-opentype');
    src:  url('ParaboleTrial-Regular.otf')  format('opentype'),
  font-weight: normal;
  font-style: normal;
}





@font-face {
  font-family: 'NeueMachina-Regular';
  src: url('NeueMachina-Regular.eot') format('embedded-opentype');
      src:  url('NeueMachina-Regular.otf')  format('opentype'),	 
  font-weight: normal;
  font-style: normal;
}





::-webkit-scrollbar {
  display: none;
}



